.logo {
  overflow:hidden;
  background-color:#4aaaa5;
  padding:20px 10px;
}

.header a {
  float: left;
  color: #777777;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}

h3 {
  color: #4aaaa5;
  
}